flows.json
[{"id":"63de2cae.034764","type":"tab","label":"Locations","disabled":false,"info":""},{"id":"641ec122.f1104","type":"tab","label":"Quads+Drones","disabled":false,"info":""},{"id":"e1fbf7fa.6fe5b","type":"tab","label":"Zipmodules","disabled":false,"info":""},{"id":"1d91a883.3f2617","type":"tab","label":"Chargers","disabled":false,"info":""},{"id":"5c9a06bd.3296a8","type":"tab","label":"live quads","disabled":false,"info":""},{"id":"e7c74370.7654c8","type":"tab","label":"to schools","disabled":false,"info":""},{"id":"92a001be.475","type":"tab","label":"Quad view","disabled":false,"info":""},{"id":"e2c4b330.d5c4d8","type":"tab","label":"Sponsors","disabled":false,"info":""},{"id":"fdbcded8.2b31a8","type":"tab","label":"Replenish","disabled":false,"info":""},{"id":"33824bea.7e65ec","type":"tab","label":"GeoJSON","disabled":false,"info":""},{"id":"b904c073.bfe2c","type":"tab","label":"Stats","disabled":false,"info":""},{"id":"7804bfd8.e2386","type":"box-credentials","z":"","displayName":""},{"id":"932a70f9.f37b18","type":"inject","z":"63de2cae.034764","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.5,"y":147.25,"wires":[["e4329416.d8674"]]},{"id":"e4329416.d8674","type":"dashDB in","z":"63de2cae.034764","dashDB":"","service":"dashDB for Analytics-ck","query":"select w3w,lang from locations;","params":"","name":"","x":324.5,"y":163.25,"wires":[["e1ee485a.7fd1a8","d0a9264c.8116f8"]]},{"id":"e1ee485a.7fd1a8","type":"debug","z":"63de2cae.034764","name":"","active":true,"console":"false","complete":"true","x":508.5,"y":74.5,"wires":[]},{"id":"999f84c7.8b3c98","type":"debug","z":"63de2cae.034764","name":"","active":true,"console":"false","complete":"url","x":564.5,"y":433.5,"wires":[]},{"id":"36ef8a87.b3c5d6","type":"device-type-manager","z":"641ec122.f1104","auth":"bluemix","name":"list device types","apiKey":"","deviceType":"","classId":"Device","method":"GetAll","deviceTypeId":"carrier","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":false,"x":382.5,"y":96.5,"wires":[["a0001e62.14d588"]]},{"id":"49981152.85ebe8","type":"device-manager","z":"641ec122.f1104","auth":"bluemix","name":"create quad devices","apiKey":"","deviceType":"quad","method":"Create","deviceId":"","password":"","ignore":true,"x":360.5,"y":438.5,"wires":[["1b3c1524.ce3d1b"]]},{"id":"5793332c.4d2904","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":96.25,"wires":[["36ef8a87.b3c5d6"]]},{"id":"d0a9264c.8116f8","type":"split","z":"63de2cae.034764","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":405.5,"y":228.75,"wires":[["de2d3502.24fb58"]]},{"id":"de2d3502.24fb58","type":"function","z":"63de2cae.034764","name":"","func":"msg.url = \"https://api.what3words.com/v2/forward\";\nmsg.url += \"?key=77K72REQ\";\nmsg.url += \"&format=json&display=full\";\nmsg.url += \"&lang=\" + msg.payload.LANG;\nmsg.url += \"&addr=\" + msg.payload.W3W;\n\nreturn msg;","outputs":1,"noerr":0,"x":461.5,"y":290.75,"wires":[["999f84c7.8b3c98"]]},{"id":"a0001e62.14d588","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"payload","x":659.5,"y":96.5,"wires":[]},{"id":"2277c26b.c04916","type":"device-type-manager","z":"641ec122.f1104","auth":"bluemix","name":"create quad type","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"quad","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":true,"x":388.5,"y":225.5,"wires":[["12ef97d2.3ccb7"]]},{"id":"f137310a.eac608","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100.5,"y":224.25,"wires":[["2277c26b.c04916"]]},{"id":"12ef97d2.3ccb7","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":659.5,"y":226.5,"wires":[]},{"id":"be1238d1.ada818","type":"dashDB in","z":"641ec122.f1104","dashDB":"","service":"dashDB for Analytics-ck","query":"select name,zin from carriers where cartyp =1","params":"","name":"get quads","x":260.5,"y":294.25,"wires":[["56e50194.5d6ce8","c1cc3358.ec7f6"]]},{"id":"fc918ae7.693f18","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95.5,"y":294.25,"wires":[["be1238d1.ada818"]]},{"id":"56e50194.5d6ce8","type":"debug","z":"641ec122.f1104","name":"","active":false,"console":"false","complete":"false","x":659.5,"y":293.5,"wires":[]},{"id":"c1cc3358.ec7f6","type":"split","z":"641ec122.f1104","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":289.5,"y":364.75,"wires":[["b7e22955.dbfab8"]]},{"id":"b7e22955.dbfab8","type":"function","z":"641ec122.f1104","name":"shambaquad","func":"msg.payload = { \"deviceId\" : msg.payload.NAME, \"authToken\": \"shambaquad\", \"deviceInfo\": { \"serialNumber\": msg.payload.ZIN } };\nreturn msg;","outputs":1,"noerr":0,"x":465.5,"y":364.75,"wires":[["49981152.85ebe8"]]},{"id":"1b3c1524.ce3d1b","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":664.5,"y":436.5,"wires":[]},{"id":"f00846aa.93885","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":503.25,"wires":[["24be9a7c.ea5786"]]},{"id":"24be9a7c.ea5786","type":"device-manager","z":"641ec122.f1104","auth":"bluemix","name":"list quad devices","apiKey":"","deviceType":"quad","method":"GetAll","deviceId":"","password":"","ignore":false,"x":350.5,"y":505,"wires":[["eb0f3372.93a5e8"]]},{"id":"eb0f3372.93a5e8","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":663,"y":503,"wires":[]},{"id":"3847c15b.8fd0ee","type":"inject","z":"e1fbf7fa.6fe5b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129,"y":167,"wires":[["173508fe.cd64b7"]]},{"id":"173508fe.cd64b7","type":"dashDB in","z":"e1fbf7fa.6fe5b","dashDB":"","service":"dashDB for Analytics-ck","query":"select name,zin from zipmodules","params":"","name":"zipmodules","x":312,"y":166,"wires":[["6df88376.c4e96c"]]},{"id":"6df88376.c4e96c","type":"split","z":"e1fbf7fa.6fe5b","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":499,"y":169.5,"wires":[["504c6c2d.29d1d4","c3d56ae.099ef18"]]},{"id":"504c6c2d.29d1d4","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":684,"y":170.25,"wires":[]},{"id":"ae2e6a6c.107a48","type":"device-manager","z":"641ec122.f1104","auth":"bluemix","name":"create drone devices","apiKey":"","deviceType":"drone","method":"Create","deviceId":"","password":"","ignore":true,"x":357,"y":792.25,"wires":[["22df569a.12d5ca"]]},{"id":"356f3b2f.83860c","type":"device-type-manager","z":"641ec122.f1104","auth":"bluemix","name":"create drone type","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"drone","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":true,"x":385,"y":579.25,"wires":[["51cb3fc3.98b928"]]},{"id":"df4bd1eb.ff7d2","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97,"y":578,"wires":[["356f3b2f.83860c"]]},{"id":"51cb3fc3.98b928","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":656,"y":580.25,"wires":[]},{"id":"58db3035.ee3ac8","type":"dashDB in","z":"641ec122.f1104","dashDB":"","service":"dashDB for Analytics-ck","query":"select name,zin from carriers where cartyp=3","params":"","name":"get drones","x":267,"y":648,"wires":[["e6dd6ca9.220ef8","55948131.03ebd8"]]},{"id":"6472521e.684814","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":648,"wires":[["58db3035.ee3ac8"]]},{"id":"e6dd6ca9.220ef8","type":"debug","z":"641ec122.f1104","name":"","active":false,"console":"false","complete":"false","x":656,"y":647.25,"wires":[]},{"id":"55948131.03ebd8","type":"split","z":"641ec122.f1104","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":286,"y":718.5,"wires":[["318ef98e.99a70e"]]},{"id":"318ef98e.99a70e","type":"function","z":"641ec122.f1104","name":"shambaquad","func":"msg.payload = { \"deviceId\" : msg.payload.NAME, \"authToken\": \"shambaquad\", \"deviceInfo\": { \"serialNumber\": msg.payload.ZIN } };\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":718.5,"wires":[["ae2e6a6c.107a48"]]},{"id":"22df569a.12d5ca","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":661,"y":790.25,"wires":[]},{"id":"bc3c078c.c3d89","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":857,"wires":[["c485488d.a95f7"]]},{"id":"c485488d.a95f7","type":"device-manager","z":"641ec122.f1104","auth":"bluemix","name":"list drone devices","apiKey":"","deviceType":"drone","method":"GetAll","deviceId":"","password":"","ignore":false,"x":347,"y":858.75,"wires":[["a97dd6e2.962b7"]]},{"id":"a97dd6e2.962b7","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":659.5,"y":856.75,"wires":[]},{"id":"116e09b1.3869fe","type":"device-manager","z":"e1fbf7fa.6fe5b","auth":"bluemix","name":"","apiKey":"","deviceType":"zipmodule","method":"Create","deviceId":"","password":"","ignore":true,"x":465.5,"y":246,"wires":[["86c814.2caf9ff"]]},{"id":"865253a3.5f8318","type":"device-type-manager","z":"e1fbf7fa.6fe5b","auth":"bluemix","name":"","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"zipmodule","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":true,"x":310.5,"y":94,"wires":[["711e39aa.dd8838"]]},{"id":"251cd3ff.42d15c","type":"inject","z":"e1fbf7fa.6fe5b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124,"y":94,"wires":[["865253a3.5f8318"]]},{"id":"711e39aa.dd8838","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":684.5,"y":92.5,"wires":[]},{"id":"c3d56ae.099ef18","type":"function","z":"e1fbf7fa.6fe5b","name":"shambazip","func":"msg.payload = { \"deviceId\" : msg.payload.NAME, \"authToken\": \"shambazip\", \"deviceInfo\": { \"serialNumber\": msg.payload.ZIN } };\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":247,"wires":[["116e09b1.3869fe"]]},{"id":"86c814.2caf9ff","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":682,"y":245,"wires":[]},{"id":"687214cd.f579d4","type":"device-manager","z":"e1fbf7fa.6fe5b","auth":"bluemix","name":"","apiKey":"","deviceType":"zipmodule","method":"GetAll","deviceId":"","password":"","ignore":true,"x":397,"y":375,"wires":[["b2f4eae9.706488"]]},{"id":"b2f4eae9.706488","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":689,"y":373,"wires":[]},{"id":"629eb649.b07d88","type":"inject","z":"e1fbf7fa.6fe5b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":378,"wires":[["687214cd.f579d4"]]},{"id":"17b419bc.2dae06","type":"inject","z":"1d91a883.3f2617","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":130.5,"wires":[["4c45b7a0.74e488"]]},{"id":"4c45b7a0.74e488","type":"dashDB in","z":"1d91a883.3f2617","dashDB":"","service":"dashDB for Analytics-ck","query":"select name,zin from chargers","params":"","name":"chargers","x":272,"y":129.5,"wires":[["544c7f68.bc9f2"]]},{"id":"544c7f68.bc9f2","type":"split","z":"1d91a883.3f2617","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":469,"y":133,"wires":[["f8da6063.cd4048","fa147aa1.518f3"]]},{"id":"f8da6063.cd4048","type":"debug","z":"1d91a883.3f2617","name":"","active":true,"console":"false","complete":"false","x":654,"y":133.75,"wires":[]},{"id":"ef841f58.07c248","type":"device-manager","z":"1d91a883.3f2617","auth":"bluemix","name":"","apiKey":"","deviceType":"charger","method":"Create","deviceId":"","password":"","ignore":true,"x":435.5,"y":209.5,"wires":[["aaaa6c49.590aa"]]},{"id":"a05d3847.c0f648","type":"device-type-manager","z":"1d91a883.3f2617","auth":"bluemix","name":"","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"charger","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":true,"x":270.5,"y":57.5,"wires":[["b9e3cb11.0f38a"]]},{"id":"7f78cb7e.7ffdec","type":"inject","z":"1d91a883.3f2617","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94,"y":57.5,"wires":[["a05d3847.c0f648"]]},{"id":"b9e3cb11.0f38a","type":"debug","z":"1d91a883.3f2617","name":"","active":true,"console":"false","complete":"false","x":654.5,"y":56,"wires":[]},{"id":"fa147aa1.518f3","type":"function","z":"1d91a883.3f2617","name":"shambazip","func":"msg.payload = { \"deviceId\" : msg.payload.NAME, \"authToken\": \"shambazip\", \"deviceInfo\": { \"serialNumber\": msg.payload.ZIN } };\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":210.5,"wires":[["ef841f58.07c248"]]},{"id":"aaaa6c49.590aa","type":"debug","z":"1d91a883.3f2617","name":"","active":true,"console":"false","complete":"false","x":652,"y":208.5,"wires":[]},{"id":"2d7cead.2741816","type":"device-manager","z":"1d91a883.3f2617","auth":"bluemix","name":"","apiKey":"","deviceType":"charger","method":"GetAll","deviceId":"","password":"","ignore":true,"x":367,"y":338.5,"wires":[["358da3da.86f71c"]]},{"id":"358da3da.86f71c","type":"debug","z":"1d91a883.3f2617","name":"","active":true,"console":"false","complete":"false","x":659,"y":336.5,"wires":[]},{"id":"7c3688b2.12c108","type":"inject","z":"1d91a883.3f2617","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":341.5,"wires":[["2d7cead.2741816"]]},{"id":"5cf26c27.481efc","type":"ibmiot in","z":"5c9a06bd.3296a8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"quad","eventType":"+","commandType":"","format":"json","name":"quads events","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":94.5,"y":139.25,"wires":[["937d000f.3bb0d","64e28b22.1c591c"]]},{"id":"937d000f.3bb0d","type":"debug","z":"5c9a06bd.3296a8","name":"","active":false,"console":"false","complete":"false","x":280.5,"y":247.5,"wires":[]},{"id":"333d9a6.c00b966","type":"inject","z":"e1fbf7fa.6fe5b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89.5,"y":453.25,"wires":[["5dc6b5a6.9a20ec"]]},{"id":"5dc6b5a6.9a20ec","type":"dashDB in","z":"e1fbf7fa.6fe5b","dashDB":"","service":"dashDB for Analytics-ck","query":"select a.name as zip, b.name as loc from zip_loc z, zipmodules a, locations b where z.zip_id = a.id and z.loc_id = b.id order by 1 asc;","params":"","name":"zips by location","x":343.5,"y":502.25,"wires":[["6bddb930.2e9d1"]]},{"id":"6bddb930.2e9d1","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":553.5,"y":515.5,"wires":[]},{"id":"46c437a5.fe9378","type":"ibmiot in","z":"5c9a06bd.3296a8","authentication":"boundService","apiKey":"","inputType":"cmd","deviceId":"geospatial","applicationId":"","deviceType":"api","eventType":"+","commandType":"","format":"json","name":"geo events","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":88.5,"y":309.25,"wires":[["5edff2e4.f43f4c"]]},{"id":"5edff2e4.f43f4c","type":"debug","z":"5c9a06bd.3296a8","name":"","active":false,"console":"false","complete":"false","x":449.5,"y":308.5,"wires":[]},{"id":"64e28b22.1c591c","type":"change","z":"5c9a06bd.3296a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290.5,"y":139.75,"wires":[["267744be.7e1bec","42a42da3.901934"]]},{"id":"42a42da3.901934","type":"function","z":"5c9a06bd.3296a8","name":"","func":"var cars = global.get('cars') || [];\n//node.warn(cars.length);\nif (msg.payload === null){return;}\nif (cars.length === 0) {\n    cars[0]=msg.payload;\n}\nelse {\n    if ( cars.indexOf(msg.payload) < 0) {\n        cars.unshift(msg.payload);\n    }\n}\nglobal.set('cars',cars);\nmsg.payload = cars;\nreturn msg;","outputs":1,"noerr":0,"x":485.5,"y":140.75,"wires":[["840b6eb3.1a6ea8","b08b784.8260008"]]},{"id":"840b6eb3.1a6ea8","type":"debug","z":"5c9a06bd.3296a8","name":"","active":false,"console":"false","complete":"false","x":709.5,"y":143.5,"wires":[]},{"id":"267744be.7e1bec","type":"debug","z":"5c9a06bd.3296a8","name":"","active":false,"console":"false","complete":"false","x":566.5,"y":238.5,"wires":[]},{"id":"11766391.d2ac5c","type":"debug","z":"5c9a06bd.3296a8","name":"","active":false,"console":"false","complete":"false","x":713.5,"y":49.5,"wires":[]},{"id":"b08b784.8260008","type":"change","z":"5c9a06bd.3296a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"cars","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":518.5,"y":54.75,"wires":[["11766391.d2ac5c"]]},{"id":"18b8097b.c754c7","type":"inject","z":"5c9a06bd.3296a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":84.5,"y":57.25,"wires":[["2932a190.c3f306"]]},{"id":"2932a190.c3f306","type":"function","z":"5c9a06bd.3296a8","name":"","func":"var cars = [];\n//cars[0] = '';\n//delete cars[0];\n\nglobal.set('cars',cars);\nreturn msg;","outputs":1,"noerr":0,"x":269.5,"y":55.75,"wires":[["b08b784.8260008"]]},{"id":"8bfad29d.9c46e8","type":"http in","z":"e7c74370.7654c8","name":"","url":"/deliver/school","method":"get","upload":false,"swaggerDoc":"","x":131,"y":57,"wires":[["fd6fdbed.a6f55"]]},{"id":"fd6fdbed.a6f55","type":"change","z":"e7c74370.7654c8","name":"","rules":[{"t":"set","p":"cars","pt":"msg","to":"cars","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":57.5,"wires":[["2b75a7fe.0049d"]]},{"id":"40a56d34.d0e874","type":"template","z":"e7c74370.7654c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Form - to link quads to modules for delivery \n</h1>\n<form action=/deliver/school method=POST>\n<table>\n    <tr>\n        <td>Locations</td>\n        <td>Zip modules</td>\n        <td>Quads</td>\n    </tr>\n<tr>\n        \n<td>\n{{#locations}}\n<input name=\"location\" type=radio value={{W3W}}>{{NAME}}<br>\n{{/locations}}\n</td>\n\n<td>\n{{#modules}}\n<input name=\"module\" type=radio value={{ID}}>{{NAME}}>{{NAME} - {{CHARGE}}<br>\n{{/modules}}\n</td>\n\n<td>\n\n{{#cars}}\n<input name=\"carrier\" type=radio value={{.}}><a href=/view/quad/{{.}}>{{.}}</a></br>\n{{/cars}}\n\n</td>\n<tr>\n    <td></td>\n    <td>\n        <input type=submit value=Schedule>\n    </td>\n    <td></td>\n</tr>\n</table>\n\n</form>","output":"str","x":340,"y":298.5,"wires":[["4b946721.9445e","73020049.578618"]]},{"id":"4b946721.9445e","type":"http response","z":"e7c74370.7654c8","name":"","statusCode":"","headers":{},"x":639,"y":300.25,"wires":[]},{"id":"73020049.578618","type":"debug","z":"e7c74370.7654c8","name":"","active":true,"console":"false","complete":"false","x":653,"y":356.25,"wires":[]},{"id":"2b75a7fe.0049d","type":"dashDB in","z":"e7c74370.7654c8","dashDB":"","service":"dashDB for Analytics-ck","query":"select name,w3w from locations \nwhere loctyp = 8\n","params":"","name":"","x":159.5,"y":127.25,"wires":[["4ac3c7e.d334438"]]},{"id":"746cef67.3295b","type":"debug","z":"e7c74370.7654c8","name":"","active":true,"console":"false","complete":"false","x":644.5,"y":123.5,"wires":[]},{"id":"a6a6f500.676cb","type":"dashDB in","z":"e7c74370.7654c8","dashDB":"","service":"dashDB for Analytics-ck","query":"select id,name,charge from zipmodules where charge >= 0","params":"","name":"","x":160.5,"y":186.25,"wires":[["8ebfef47.eeef58"]]},{"id":"4ac3c7e.d334438","type":"change","z":"e7c74370.7654c8","name":"","rules":[{"t":"set","p":"locations","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":396.5,"y":125.75,"wires":[["a6a6f500.676cb","746cef67.3295b"]]},{"id":"8ebfef47.eeef58","type":"change","z":"e7c74370.7654c8","name":"","rules":[{"t":"set","p":"modules","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":402.5,"y":183.75,"wires":[["40a56d34.d0e874","59a84061.dd7e18"]]},{"id":"59a84061.dd7e18","type":"debug","z":"e7c74370.7654c8","name":"","active":true,"console":"false","complete":"false","x":644,"y":184,"wires":[]},{"id":"90fe8b44.45d9","type":"http in","z":"92a001be.475","name":"","url":"/view/carrier/:carrier","method":"get","upload":false,"swaggerDoc":"","x":155.5,"y":60.25,"wires":[["bddc3b89.cf6388","91ceb4a6.7ed138"]]},{"id":"70a01dc0.80d7d4","type":"http response","z":"92a001be.475","name":"","statusCode":"","headers":{},"x":578.5,"y":313.5,"wires":[]},{"id":"9c7f12f0.9063c","type":"http in","z":"e7c74370.7654c8","name":"","url":"/deliver/school","method":"post","upload":false,"swaggerDoc":"","x":134.5,"y":425.25,"wires":[["e543cbb.43da8b8","eb6d776e.92d1b8","ac0f08d7.660f7"]]},{"id":"e543cbb.43da8b8","type":"http response","z":"e7c74370.7654c8","name":"","statusCode":"","headers":{},"x":639.5,"y":432.5,"wires":[]},{"id":"eb6d776e.92d1b8","type":"debug","z":"e7c74370.7654c8","name":"","active":true,"console":"false","complete":"true","x":430.5,"y":507.5,"wires":[]},{"id":"bddc3b89.cf6388","type":"debug","z":"92a001be.475","name":"","active":true,"console":"false","complete":"true","x":540.5,"y":57.5,"wires":[]},{"id":"2bd118f3.40cb6","type":"dashDB in","z":"92a001be.475","dashDB":"","service":"dashDB for Analytics-ck","query":"select a.name,a.id,a.zin,b.name as type from carriers a, carrier_type b\nwhere  a.name = ? and a.cartyp = b.id\n\n","params":"msg.carrier","name":"","x":373.5,"y":188.25,"wires":[["6222da76.eaffec","3466aae5.8a00a6","c2d51c0d.6a11d8"]]},{"id":"6222da76.eaffec","type":"debug","z":"92a001be.475","name":"","active":false,"console":"false","complete":"false","x":602.5,"y":136.5,"wires":[]},{"id":"3466aae5.8a00a6","type":"debug","z":"92a001be.475","name":"","active":true,"console":"false","complete":"req.params.carrier","x":640.5,"y":187.5,"wires":[]},{"id":"91ceb4a6.7ed138","type":"change","z":"92a001be.475","name":"","rules":[{"t":"set","p":"carrier","pt":"msg","to":"req.params.carrier","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":295.5,"y":116.75,"wires":[["2bd118f3.40cb6"]]},{"id":"c2d51c0d.6a11d8","type":"template","z":"92a001be.475","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{{#payload}}\nName: {{NAME}}\n<br>\nID: {{ID}}\n<br>\nZIN: {{ZIN}}\n<br>\nType: {{TYPE}}\n<br>\n{{/payload}}\n\n<button onclick=\"window.history.back()\">Back</button>","output":"str","x":474.5,"y":254.75,"wires":[["70a01dc0.80d7d4"]]},{"id":"1f44907a.f07b38","type":"dashDB in","z":"e2c4b330.d5c4d8","dashDB":"","service":"dashDB for Analytics-ck","query":"select b.firstname, b.lastname, b.org, c.tab, a.ass_id as id from sponsorship a, sponsors b, asset_type c\nwhere a.spn_id = b.id and a.asstyp = c.id","params":"","name":"","x":337.5,"y":122.25,"wires":[["85461817.659bd","7f68512b.7260b8"]]},{"id":"85c48d2a.487b78","type":"debug","z":"e2c4b330.d5c4d8","name":"","active":true,"console":"false","complete":"false","x":661.5,"y":500.5,"wires":[]},{"id":"bfe01efe.f30b68","type":"dashDB in","z":"e2c4b330.d5c4d8","dashDB":"","service":"dashDB for Analytics-ck","query":"","params":"","name":"","x":454.5,"y":359.25,"wires":[["be9058db.311628","cf1b4a06.e4e41"]]},{"id":"85461817.659bd","type":"debug","z":"e2c4b330.d5c4d8","name":"","active":true,"console":"false","complete":"false","x":608.5,"y":119.5,"wires":[]},{"id":"7f68512b.7260b8","type":"function","z":"e2c4b330.d5c4d8","name":" ","func":"var sql = '';\nfor (var i in msg.payload) {\n    if (i > 0) {\n        sql += ' UNION '\n    }\nsql += 'select id,name,zin from ' + msg.payload[i].TAB;\nsql += ' where id= ' + msg.payload[i].ID;\n}\nmsg.sponsor = msg.payload;\n\nmsg.payload = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":423.5,"y":262.75,"wires":[["bfe01efe.f30b68","239a0c0e.d09db4"]]},{"id":"239a0c0e.d09db4","type":"debug","z":"e2c4b330.d5c4d8","name":"","active":true,"console":"false","complete":"false","x":650.5,"y":244.5,"wires":[]},{"id":"dacfc35.b9869c","type":"http in","z":"e2c4b330.d5c4d8","name":"","url":"/view/sponsorships","method":"get","upload":false,"swaggerDoc":"","x":135.5,"y":64.25,"wires":[["1f44907a.f07b38"]]},{"id":"be9058db.311628","type":"template","z":"e2c4b330.d5c4d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta http-equiv=\"refresh\" content=\"180\">\n    </head>\n<body>Sponsor details:\n<p>\n{{#sponsor.0}}\n    {{FIRSTNAME}} {{LASTNAME}}\n    <br>\n    {{ORG}}\n    <br>\n{{/sponsor.0}}\n<p>\n{{#payload}}\n        <br>\n        <a href=/view/carrier/{{NAME}}>{{NAME}}</a> {{ZIN}}\n{{/payload}}\n\n</body>\n</html>","output":"str","x":512.5,"y":433.75,"wires":[["85c48d2a.487b78","125da10c.042337"]]},{"id":"125da10c.042337","type":"http response","z":"e2c4b330.d5c4d8","name":"","statusCode":"","headers":{},"x":690.5,"y":377.5,"wires":[]},{"id":"cf1b4a06.e4e41","type":"debug","z":"e2c4b330.d5c4d8","name":"","active":true,"console":"false","complete":"true","x":638.5,"y":323.5,"wires":[]},{"id":"436a5219.0de37c","type":"ibmiot out","z":"e7c74370.7654c8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"","deviceType":"quad","eventCommandType":"setProperty","format":"json","data":"{}","qos":0,"name":"setProperty","service":"registered","x":415.5,"y":633.5,"wires":[]},{"id":"7e9f2066.d4d1c","type":"inject","z":"e7c74370.7654c8","name":"","topic":"","payload":"{\"id\":\"philomena-margaret-vivienne\",\"property\": \"destination\", \"value\":\"mwanasayansi.kuzitaka.kubadilishia\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":122.5,"y":510.25,"wires":[["ac0f08d7.660f7"]]},{"id":"ac0f08d7.660f7","type":"function","z":"e7c74370.7654c8","name":"","func":"var delivery = msg.payload;\nmsg.deviceId = delivery.carrier;\nmsg.payload = {\"id\":delivery.carrier,\"property\":\"destination\",\"value\": delivery.location};\nnode.send(msg);\nmsg.payload = {\"id\":delivery.carrier,\"property\":\"module\",\"value\": delivery.module};\nnode.send(msg);\nreturn;","outputs":1,"noerr":0,"x":255.5,"y":598.75,"wires":[["436a5219.0de37c","f673309f.8240e"]]},{"id":"f673309f.8240e","type":"debug","z":"e7c74370.7654c8","name":"","active":true,"console":"false","complete":"false","x":591.5,"y":580.5,"wires":[]},{"id":"3a715745.5dcbc8","type":"inject","z":"fdbcded8.2b31a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111,"y":265,"wires":[["8fb5c1f0.a8a73"]]},{"id":"8fb5c1f0.a8a73","type":"dashDB in","z":"fdbcded8.2b31a8","dashDB":"","service":"dashDB for Analytics-ck","query":"select * from locations\nwhere loctyp = 8 and id not in (select location from chargers) and id in (select loc_id from requests where reqtyp in (1,2) and status > 0)","params":"","name":"","x":308,"y":213,"wires":[["bbad2e6c.a16bf"]]},{"id":"7e3cd709.a91f","type":"dashDB in","z":"fdbcded8.2b31a8","dashDB":"","service":"dashDB for Analytics-ck","query":"select * from locations\nwhere loctyp in (1,8) and id in (select location from chargers)","params":"","name":"","x":474,"y":155,"wires":[["ced65e82.bb327"]]},{"id":"bbad2e6c.a16bf","type":"change","z":"fdbcded8.2b31a8","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":493.5,"y":211.75,"wires":[["a350a56f.aacc28"]]},{"id":"ced65e82.bb327","type":"change","z":"fdbcded8.2b31a8","name":"","rules":[{"t":"set","p":"chargers","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":668.5,"y":153.75,"wires":[[]]},{"id":"3ad56e82.831902","type":"inject","z":"fdbcded8.2b31a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.5,"y":62.25,"wires":[["458a9cf2.138c74"]]},{"id":"458a9cf2.138c74","type":"dashDB in","z":"fdbcded8.2b31a8","dashDB":"","service":"dashDB for Analytics-ck","query":"insert into requests values(75, 1, CURRENT TIMESTAMP, 5,'demo')","params":"","name":"","x":286.5,"y":72.25,"wires":[["818b973c.b65b9"]]},{"id":"818b973c.b65b9","type":"debug","z":"fdbcded8.2b31a8","name":"","active":true,"console":"false","complete":"false","x":523.5,"y":53.5,"wires":[]},{"id":"3ed61278.0b3566","type":"http in","z":"fdbcded8.2b31a8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":93.5,"y":209.25,"wires":[["8fb5c1f0.a8a73"]]},{"id":"2c7038fe.c95b58","type":"http response","z":"fdbcded8.2b31a8","name":"","statusCode":"","headers":{},"x":761.5,"y":436.5,"wires":[]},{"id":"a24a6409.cb4f58","type":"template","z":"fdbcded8.2b31a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta http-equiv=\"refresh\" content=\"30\">\n    </head>\n    <body>\n        \n    Secondary Schools needing resupply\n<p>\n    \n<form method=POST action={{{req.url}}}>\n<table>\n    <tr>\n        <th>\n            School\n        </th>\n        <th>\n            Module\n        </th>\n    </tr>\n<tr>\n    <td>\n    {{#target}}\n    <input type=radio name=destination value={{ID}}>{{NAME}}</input>\n    <br>\n    {{/target}}\n    </td>\n\n    <td>\n    {{#modules}}\n    <input type=radio name=module value={{ID}}>{{NAME}} @ {{LOCATION}}\n    <br>\n    {{/modules}}\n    </td>\n    \n</tr>\n<tr>\n    <td></td>\n    <td>\n        <input type=submit value=RESUPPLY>\n    </td>\n</tr>\n</table>\n\n</form>\n</body>\n</html>","output":"str","x":352.5,"y":360.75,"wires":[["2c7038fe.c95b58","7d9a1e7b.f19fd8"]]},{"id":"f1044b1e.2f08b8","type":"http in","z":"fdbcded8.2b31a8","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":116.5,"y":458.25,"wires":[["d069b694.323678","b52652b1.59eea"]]},{"id":"d069b694.323678","type":"http response","z":"fdbcded8.2b31a8","name":"","statusCode":"","headers":{},"x":485.5,"y":524.5,"wires":[]},{"id":"b52652b1.59eea","type":"debug","z":"fdbcded8.2b31a8","name":"","active":true,"console":"false","complete":"true","x":458.5,"y":442.5,"wires":[]},{"id":"a350a56f.aacc28","type":"dashDB in","z":"fdbcded8.2b31a8","dashDB":"","service":"dashDB for Analytics-ck","query":"select b.name as name,\n   b.id as id, \n   c.name as charger,\n   d.name as location \nfrom zip_loc a, zipmodules b, chargers c, locations d\nwhere \na.zip_id = b.id and a.loc_id = d.id and d.id = c.location and a.loc_id > 0","params":"","name":"","x":307.5,"y":277.25,"wires":[["57c9917d.b22e78"]]},{"id":"57c9917d.b22e78","type":"change","z":"fdbcded8.2b31a8","name":"","rules":[{"t":"set","p":"modules","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":511.5,"y":276.75,"wires":[["a24a6409.cb4f58"]]},{"id":"7d9a1e7b.f19fd8","type":"debug","z":"fdbcded8.2b31a8","name":"","active":true,"console":"false","complete":"true","x":667.5,"y":361.5,"wires":[]},{"id":"b06f11eb.8b42a8","type":"http in","z":"33824bea.7e65ec","name":"","url":"/features/schools","method":"get","upload":false,"swaggerDoc":"","x":167.5,"y":126.25,"wires":[["d76e428.3c4944"]]},{"id":"757ad08e.ee8dd8","type":"http response","z":"33824bea.7e65ec","name":"","statusCode":"","headers":{},"x":534.5,"y":283.5,"wires":[]},{"id":"ec1e0ec4.5069f","type":"function","z":"33824bea.7e65ec","name":"","func":"msg.headers = { 'Content-Type': \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":358.5,"y":287.75,"wires":[["757ad08e.ee8dd8"]]},{"id":"d76e428.3c4944","type":"function","z":"33824bea.7e65ec","name":"","func":"msg.payload = {\n\t\"type\": \"FeatureCollection\",\n\t\"crs\": { \"type\": \"name\", \"properties\": { \"name\": \"urn:ogc:def:crs:OGC:1.3:CRS84\" } },\n\t\"features\": [\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 1, \"name\": \"Kabagwe Secondary School\", \"lat\": -4.8455049, \"long\": 29.9359882, \"w3w\": \"isemwe.wasaa.mipera\", \"units\": 10, \"capacity\": 200 }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 29.9359882, -4.8455049 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 2, \"name\": \"Kasangezi Secondary School\", \"lat\": -4.7658166, \"long\": 30.0371694, \"w3w\": \"kujitathmini.wanaoa.udenda\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.0371694, -4.7658166 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 3, \"name\": \"Kihenya Secondary School\", \"lat\": -4.1780809, \"long\": 30.2305691, \"w3w\": \"kukuonya.hakimo.kupambanua\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.2305691, -4.1780809 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 4, \"name\": \"Kimenyi Secondary School\", \"lat\": -4.5709234, \"long\": 30.5889437, \"w3w\": \"kuingizwa.useremala.nyakua\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.5889437, -4.5709234 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 5, \"name\": \"Kimwanya Secondary School\", \"lat\": -4.3755208, \"long\": 30.3622609, \"w3w\": \"zimefungwa.vitatoa.mafunzo\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.3622609, -4.3755208 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 6, \"name\": \"Kinyaka Secondary School\", \"lat\": -4.5070593, \"long\": 30.2505696, \"w3w\": \"mwagwa.asivyo.wachapishaji\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.2505696, -4.5070593 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 7, \"name\": \"Kurunyemi Secondary School\", \"lat\": -4.6494613, \"long\": 30.3292464, \"w3w\": \"shemeji.arithi.yamekamilika\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.3292464, -4.6494613 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 8, \"name\": \"Makere Secondary School\", \"lat\": -4.2804789, \"long\": 30.4214679, \"w3w\": \"upishi.kunguru.vyombo\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.4214679, -4.2804789 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 9, \"name\": \"Muyovoz Secondary School\", \"lat\": -4.404492, \"long\": 30.268579, \"w3w\": \"kuruka.utawaona.zenye\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.268579, -4.404492 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 10, \"name\": \"Nkundutsi Secondary School\", \"lat\": -4.3240123, \"long\": 30.4012114, \"w3w\": \"yalifanya.kasema.mkono\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.4012114, -4.3240123 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 11, \"name\": \"Ntamya Secondary School\", \"lat\": -4.3622673, \"long\": 30.1894401, \"w3w\": \"vinono.kutosha.vunjika\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.1894401, -4.3622673 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 12, \"name\": \"Nyakitonto Secondary School\", \"lat\": -4.2912821, \"long\": 30.2177132, \"w3w\": \"husomwa.midundo.inaratibu\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.2177132, -4.2912821 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 13, \"name\": \"Rungwe Mpya Secondary School\", \"lat\": -4.7688508, \"long\": 30.2058593, \"w3w\": \"sikukuu.kuelekea.zurura\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.2058593, -4.7688508 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 14, \"name\": \"Rusesa Secondary School\", \"lat\": -4.8215939, \"long\": 30.0082437, \"w3w\": \"mwanasayansi.kuzitaka.kubadilishia\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.0082437, -4.8215939 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 15, \"name\": \"Titye Secondary School\", \"lat\": -4.6562983, \"long\": 30.274765, \"w3w\": \"imetangaza.chipua.alitii\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.274765, -4.6562983 ] } },\n\t{ \"type\": \"Feature\", \"properties\": { \"Kasulu Dis\": 16, \"name\": \"Zeze Secondary School\", \"lat\": -4.9113281, \"long\": 30.0474822, \"w3w\": \"hereni.ulioko.umbika\", \"units\": null, \"capacity\": null }, \"geometry\": { \"type\": \"Point\", \"coordinates\": [ 30.0474822, -4.9113281 ] } }\n\t]\n};\nreturn msg;","outputs":1,"noerr":0,"x":292.5,"y":191.75,"wires":[["ec1e0ec4.5069f"]]},{"id":"de707730.a2abe8","type":"http in","z":"92a001be.475","name":"","url":"/view/quads","method":"get","upload":false,"swaggerDoc":"","x":134.5,"y":403.25,"wires":[["bfe68f74.700f08"]]},{"id":"b3aaf5cc.d0d278","type":"http response","z":"92a001be.475","name":"","statusCode":"","headers":{},"x":508.5,"y":530.5,"wires":[]},{"id":"bfe68f74.700f08","type":"template","z":"92a001be.475","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n<meta http-equiv=\"refresh\" content=\"60\">\n    </head>\n<body>\nActive Quads:\n<p>\n<ul>\n    {{#global.cars}}\n    <li><a href=/view/carrier/{{.}}></li>{{.}}\n    {{/global.cars}}\n</ul>\n</p>\n</body>\n</html>","output":"str","x":296.5,"y":485.75,"wires":[["b3aaf5cc.d0d278"]]},{"id":"76a0d231.43302c","type":"http in","z":"b904c073.bfe2c","name":"","url":"/stats","method":"get","upload":false,"swaggerDoc":"","x":87.5,"y":45.25,"wires":[["83baeb44.50b548"]]},{"id":"e6d59492.e3ae08","type":"http response","z":"b904c073.bfe2c","name":"","statusCode":"","headers":{},"x":687.5,"y":575.5,"wires":[]},{"id":"83baeb44.50b548","type":"dashDB in","z":"b904c073.bfe2c","dashDB":"","service":"dashDB for Analytics-ck","query":"select count(*) from zipmodules","params":"","name":"","x":244.5,"y":114.25,"wires":[["e44a9403.4f8be8","8a341b5e.ea36b"]]},{"id":"e44a9403.4f8be8","type":"change","z":"b904c073.bfe2c","name":"","rules":[{"t":"set","p":"modules","pt":"msg","to":"payload.1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":437.5,"y":113.75,"wires":[["9e8c57fc.763618"]]},{"id":"31ec2c60.09bc64","type":"change","z":"b904c073.bfe2c","name":"","rules":[{"t":"set","p":"chargers","pt":"msg","to":"payload.1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":438,"y":177,"wires":[["73463896.fa208"]]},{"id":"9e8c57fc.763618","type":"dashDB in","z":"b904c073.bfe2c","dashDB":"","service":"dashDB for Analytics-ck","query":"select count(*) from chargers","params":"","name":"","x":250,"y":177.5,"wires":[["31ec2c60.09bc64"]]},{"id":"73463896.fa208","type":"dashDB in","z":"b904c073.bfe2c","dashDB":"","service":"dashDB for Analytics-ck","query":"select count(*) from drivers","params":"","name":"","x":243,"y":243,"wires":[["cee5e91a.c4f568"]]},{"id":"cee5e91a.c4f568","type":"change","z":"b904c073.bfe2c","name":"","rules":[{"t":"set","p":"drivers","pt":"msg","to":"payload.1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":432,"y":241.5,"wires":[["a78131aa.9d185"]]},{"id":"a78131aa.9d185","type":"dashDB in","z":"b904c073.bfe2c","dashDB":"","service":"dashDB for Analytics-ck","query":"select count(*) from locations where loctyp in (1,7,8)","params":"","name":"","x":243,"y":298,"wires":[["668e5d1.75482a4"]]},{"id":"668e5d1.75482a4","type":"change","z":"b904c073.bfe2c","name":"","rules":[{"t":"set","p":"schools","pt":"msg","to":"payload.1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":432,"y":296.5,"wires":[["30e74ce8.246154"]]},{"id":"30e74ce8.246154","type":"dashDB in","z":"b904c073.bfe2c","dashDB":"","service":"dashDB for Analytics-ck","query":"select count(*) from carriers where cartyp = 1","params":"","name":"","x":254,"y":364,"wires":[["15737a.a7d46486"]]},{"id":"15737a.a7d46486","type":"change","z":"b904c073.bfe2c","name":"","rules":[{"t":"set","p":"carriers","pt":"msg","to":"payload.1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":443,"y":362.5,"wires":[["c061a615.38931"]]},{"id":"c061a615.38931","type":"template","z":"b904c073.bfe2c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body style=\"background-color:#E6E6FA\">\n        Quads: {{carriers}}, Drivers: {{drivers}}, Chargers: {{chargers}}, Schools: {{schools}}\n    </body>\n</html>","output":"str","x":392.5,"y":444.75,"wires":[["e6d59492.e3ae08"]]},{"id":"8a341b5e.ea36b","type":"debug","z":"b904c073.bfe2c","name":"","active":true,"console":"false","complete":"false","x":402.5,"y":56.5,"wires":[]},{"id":"f861fd76.1412b","type":"inject","z":"fdbcded8.2b31a8","name":"school replenish","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":126,"wires":[["53020857.6249f8"]]},{"id":"53020857.6249f8","type":"dashDB in","z":"fdbcded8.2b31a8","dashDB":"","service":"dashDB for Analytics-ck","query":"insert into requests values(77, 1, CURRENT TIMESTAMP, 5,'demo')","params":"","name":"","x":291,"y":123,"wires":[["17132f00.d3e7f1"]]},{"id":"17132f00.d3e7f1","type":"debug","z":"fdbcded8.2b31a8","name":"","active":true,"console":"false","complete":"false","x":525,"y":95.25,"wires":[]}]

