flows.json
[{"id":"63de2cae.034764","type":"tab","label":"Locations","disabled":false,"info":""},{"id":"641ec122.f1104","type":"tab","label":"Quads+Drones","disabled":false,"info":""},{"id":"e1fbf7fa.6fe5b","type":"tab","label":"Zipmodules","disabled":false,"info":""},{"id":"1d91a883.3f2617","type":"tab","label":"Chargers","disabled":false,"info":""},{"id":"5c9a06bd.3296a8","type":"tab","label":"Flow 1"},{"id":"932a70f9.f37b18","type":"inject","z":"63de2cae.034764","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.5,"y":147.25,"wires":[["e4329416.d8674"]]},{"id":"e4329416.d8674","type":"dashDB in","z":"63de2cae.034764","dashDB":"","service":"dashDB for Analytics-ck","query":"select w3w,lang from locations;","params":"","name":"","x":324.5,"y":163.25,"wires":[["e1ee485a.7fd1a8","d0a9264c.8116f8"]]},{"id":"e1ee485a.7fd1a8","type":"debug","z":"63de2cae.034764","name":"","active":true,"console":"false","complete":"true","x":508.5,"y":74.5,"wires":[]},{"id":"999f84c7.8b3c98","type":"debug","z":"63de2cae.034764","name":"","active":true,"console":"false","complete":"url","x":564.5,"y":433.5,"wires":[]},{"id":"36ef8a87.b3c5d6","type":"device-type-manager","z":"641ec122.f1104","auth":"bluemix","name":"list device types","apiKey":"","deviceType":"","classId":"Device","method":"GetAll","deviceTypeId":"carrier","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":false,"x":382.5,"y":96.5,"wires":[["a0001e62.14d588"]]},{"id":"49981152.85ebe8","type":"device-manager","z":"641ec122.f1104","auth":"bluemix","name":"create quad devices","apiKey":"","deviceType":"quad","method":"Create","deviceId":"","password":"","ignore":true,"x":360.5,"y":438.5,"wires":[["1b3c1524.ce3d1b"]]},{"id":"5793332c.4d2904","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":96.25,"wires":[["36ef8a87.b3c5d6"]]},{"id":"d0a9264c.8116f8","type":"split","z":"63de2cae.034764","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":405.5,"y":228.75,"wires":[["de2d3502.24fb58"]]},{"id":"de2d3502.24fb58","type":"function","z":"63de2cae.034764","name":"","func":"msg.url = \"https://api.what3words.com/v2/forward\";\nmsg.url += \"?key=77K72REQ\";\nmsg.url += \"&format=json&display=full\";\nmsg.url += \"&lang=\" + msg.payload.LANG;\nmsg.url += \"&addr=\" + msg.payload.W3W;\n\nreturn msg;","outputs":1,"noerr":0,"x":461.5,"y":290.75,"wires":[["999f84c7.8b3c98"]]},{"id":"a0001e62.14d588","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"payload","x":659.5,"y":96.5,"wires":[]},{"id":"2277c26b.c04916","type":"device-type-manager","z":"641ec122.f1104","auth":"bluemix","name":"create quad type","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"quad","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":true,"x":388.5,"y":225.5,"wires":[["12ef97d2.3ccb7"]]},{"id":"f137310a.eac608","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100.5,"y":224.25,"wires":[["2277c26b.c04916"]]},{"id":"12ef97d2.3ccb7","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":659.5,"y":226.5,"wires":[]},{"id":"be1238d1.ada818","type":"dashDB in","z":"641ec122.f1104","dashDB":"","service":"dashDB for Analytics-ck","query":"select name,zin from carriers where cartyp =1","params":"","name":"get quads","x":260.5,"y":294.25,"wires":[["56e50194.5d6ce8","c1cc3358.ec7f6"]]},{"id":"fc918ae7.693f18","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95.5,"y":294.25,"wires":[["be1238d1.ada818"]]},{"id":"56e50194.5d6ce8","type":"debug","z":"641ec122.f1104","name":"","active":false,"console":"false","complete":"false","x":659.5,"y":293.5,"wires":[]},{"id":"c1cc3358.ec7f6","type":"split","z":"641ec122.f1104","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":289.5,"y":364.75,"wires":[["b7e22955.dbfab8"]]},{"id":"b7e22955.dbfab8","type":"function","z":"641ec122.f1104","name":"shambaquad","func":"msg.payload = { \"deviceId\" : msg.payload.NAME, \"authToken\": \"shambaquad\", \"deviceInfo\": { \"serialNumber\": msg.payload.ZIN } };\nreturn msg;","outputs":1,"noerr":0,"x":465.5,"y":364.75,"wires":[["49981152.85ebe8"]]},{"id":"1b3c1524.ce3d1b","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":664.5,"y":436.5,"wires":[]},{"id":"f00846aa.93885","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":503.25,"wires":[["24be9a7c.ea5786"]]},{"id":"24be9a7c.ea5786","type":"device-manager","z":"641ec122.f1104","auth":"bluemix","name":"list quad devices","apiKey":"","deviceType":"quad","method":"GetAll","deviceId":"","password":"","ignore":false,"x":350.5,"y":505,"wires":[["eb0f3372.93a5e8"]]},{"id":"eb0f3372.93a5e8","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":663,"y":503,"wires":[]},{"id":"3847c15b.8fd0ee","type":"inject","z":"e1fbf7fa.6fe5b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129,"y":167,"wires":[["173508fe.cd64b7"]]},{"id":"173508fe.cd64b7","type":"dashDB in","z":"e1fbf7fa.6fe5b","dashDB":"","service":"dashDB for Analytics-ck","query":"select name,zin from zipmodules","params":"","name":"zipmodules","x":312,"y":166,"wires":[["6df88376.c4e96c"]]},{"id":"6df88376.c4e96c","type":"split","z":"e1fbf7fa.6fe5b","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":499,"y":169.5,"wires":[["504c6c2d.29d1d4","c3d56ae.099ef18"]]},{"id":"504c6c2d.29d1d4","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":684,"y":170.25,"wires":[]},{"id":"ae2e6a6c.107a48","type":"device-manager","z":"641ec122.f1104","auth":"bluemix","name":"create drone devices","apiKey":"","deviceType":"drone","method":"Create","deviceId":"","password":"","ignore":true,"x":357,"y":792.25,"wires":[["22df569a.12d5ca"]]},{"id":"356f3b2f.83860c","type":"device-type-manager","z":"641ec122.f1104","auth":"bluemix","name":"create drone type","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"drone","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":true,"x":385,"y":579.25,"wires":[["51cb3fc3.98b928"]]},{"id":"df4bd1eb.ff7d2","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97,"y":578,"wires":[["356f3b2f.83860c"]]},{"id":"51cb3fc3.98b928","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":656,"y":580.25,"wires":[]},{"id":"58db3035.ee3ac8","type":"dashDB in","z":"641ec122.f1104","dashDB":"","service":"dashDB for Analytics-ck","query":"select name,zin from carriers where cartyp=3","params":"","name":"get drones","x":267,"y":648,"wires":[["e6dd6ca9.220ef8","55948131.03ebd8"]]},{"id":"6472521e.684814","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":648,"wires":[["58db3035.ee3ac8"]]},{"id":"e6dd6ca9.220ef8","type":"debug","z":"641ec122.f1104","name":"","active":false,"console":"false","complete":"false","x":656,"y":647.25,"wires":[]},{"id":"55948131.03ebd8","type":"split","z":"641ec122.f1104","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":286,"y":718.5,"wires":[["318ef98e.99a70e"]]},{"id":"318ef98e.99a70e","type":"function","z":"641ec122.f1104","name":"shambaquad","func":"msg.payload = { \"deviceId\" : msg.payload.NAME, \"authToken\": \"shambaquad\", \"deviceInfo\": { \"serialNumber\": msg.payload.ZIN } };\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":718.5,"wires":[["ae2e6a6c.107a48"]]},{"id":"22df569a.12d5ca","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":661,"y":790.25,"wires":[]},{"id":"bc3c078c.c3d89","type":"inject","z":"641ec122.f1104","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":857,"wires":[["c485488d.a95f7"]]},{"id":"c485488d.a95f7","type":"device-manager","z":"641ec122.f1104","auth":"bluemix","name":"list drone devices","apiKey":"","deviceType":"drone","method":"GetAll","deviceId":"","password":"","ignore":false,"x":347,"y":858.75,"wires":[["a97dd6e2.962b7"]]},{"id":"a97dd6e2.962b7","type":"debug","z":"641ec122.f1104","name":"","active":true,"console":"false","complete":"false","x":659.5,"y":856.75,"wires":[]},{"id":"116e09b1.3869fe","type":"device-manager","z":"e1fbf7fa.6fe5b","auth":"bluemix","name":"","apiKey":"","deviceType":"zipmodule","method":"Create","deviceId":"","password":"","ignore":true,"x":465.5,"y":246,"wires":[["86c814.2caf9ff"]]},{"id":"865253a3.5f8318","type":"device-type-manager","z":"e1fbf7fa.6fe5b","auth":"bluemix","name":"","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"zipmodule","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":true,"x":310.5,"y":94,"wires":[["711e39aa.dd8838"]]},{"id":"251cd3ff.42d15c","type":"inject","z":"e1fbf7fa.6fe5b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124,"y":94,"wires":[["865253a3.5f8318"]]},{"id":"711e39aa.dd8838","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":684.5,"y":92.5,"wires":[]},{"id":"c3d56ae.099ef18","type":"function","z":"e1fbf7fa.6fe5b","name":"shambazip","func":"msg.payload = { \"deviceId\" : msg.payload.NAME, \"authToken\": \"shambazip\", \"deviceInfo\": { \"serialNumber\": msg.payload.ZIN } };\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":247,"wires":[["116e09b1.3869fe"]]},{"id":"86c814.2caf9ff","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":682,"y":245,"wires":[]},{"id":"687214cd.f579d4","type":"device-manager","z":"e1fbf7fa.6fe5b","auth":"bluemix","name":"","apiKey":"","deviceType":"zipmodule","method":"GetAll","deviceId":"","password":"","ignore":true,"x":397,"y":375,"wires":[["b2f4eae9.706488"]]},{"id":"b2f4eae9.706488","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":689,"y":373,"wires":[]},{"id":"629eb649.b07d88","type":"inject","z":"e1fbf7fa.6fe5b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":378,"wires":[["687214cd.f579d4"]]},{"id":"17b419bc.2dae06","type":"inject","z":"1d91a883.3f2617","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":130.5,"wires":[["4c45b7a0.74e488"]]},{"id":"4c45b7a0.74e488","type":"dashDB in","z":"1d91a883.3f2617","dashDB":"","service":"dashDB for Analytics-ck","query":"select name,zin from chargers","params":"","name":"chargers","x":272,"y":129.5,"wires":[["544c7f68.bc9f2"]]},{"id":"544c7f68.bc9f2","type":"split","z":"1d91a883.3f2617","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":469,"y":133,"wires":[["f8da6063.cd4048","fa147aa1.518f3"]]},{"id":"f8da6063.cd4048","type":"debug","z":"1d91a883.3f2617","name":"","active":true,"console":"false","complete":"false","x":654,"y":133.75,"wires":[]},{"id":"ef841f58.07c248","type":"device-manager","z":"1d91a883.3f2617","auth":"bluemix","name":"","apiKey":"","deviceType":"charger","method":"Create","deviceId":"","password":"","ignore":true,"x":435.5,"y":209.5,"wires":[["aaaa6c49.590aa"]]},{"id":"a05d3847.c0f648","type":"device-type-manager","z":"1d91a883.3f2617","auth":"bluemix","name":"","apiKey":"","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"charger","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":true,"x":270.5,"y":57.5,"wires":[["b9e3cb11.0f38a"]]},{"id":"7f78cb7e.7ffdec","type":"inject","z":"1d91a883.3f2617","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94,"y":57.5,"wires":[["a05d3847.c0f648"]]},{"id":"b9e3cb11.0f38a","type":"debug","z":"1d91a883.3f2617","name":"","active":true,"console":"false","complete":"false","x":654.5,"y":56,"wires":[]},{"id":"fa147aa1.518f3","type":"function","z":"1d91a883.3f2617","name":"shambazip","func":"msg.payload = { \"deviceId\" : msg.payload.NAME, \"authToken\": \"shambazip\", \"deviceInfo\": { \"serialNumber\": msg.payload.ZIN } };\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":210.5,"wires":[["ef841f58.07c248"]]},{"id":"aaaa6c49.590aa","type":"debug","z":"1d91a883.3f2617","name":"","active":true,"console":"false","complete":"false","x":652,"y":208.5,"wires":[]},{"id":"2d7cead.2741816","type":"device-manager","z":"1d91a883.3f2617","auth":"bluemix","name":"","apiKey":"","deviceType":"charger","method":"GetAll","deviceId":"","password":"","ignore":true,"x":367,"y":338.5,"wires":[["358da3da.86f71c"]]},{"id":"358da3da.86f71c","type":"debug","z":"1d91a883.3f2617","name":"","active":true,"console":"false","complete":"false","x":659,"y":336.5,"wires":[]},{"id":"7c3688b2.12c108","type":"inject","z":"1d91a883.3f2617","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":341.5,"wires":[["2d7cead.2741816"]]},{"id":"5cf26c27.481efc","type":"ibmiot in","z":"5c9a06bd.3296a8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"quad","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":99.5,"y":225.25,"wires":[["937d000f.3bb0d"]]},{"id":"937d000f.3bb0d","type":"debug","z":"5c9a06bd.3296a8","name":"","active":false,"console":"false","complete":"false","x":407.5,"y":238.5,"wires":[]},{"id":"333d9a6.c00b966","type":"inject","z":"e1fbf7fa.6fe5b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89.5,"y":453.25,"wires":[["5dc6b5a6.9a20ec"]]},{"id":"5dc6b5a6.9a20ec","type":"dashDB in","z":"e1fbf7fa.6fe5b","dashDB":"","service":"dashDB for Analytics-ck","query":"select a.name as zip, b.name as loc from zip_loc z, zipmodules a, locations b where z.zip_id = a.id and z.loc_id = b.id order by 1 asc;","params":"","name":"zips by location","x":343.5,"y":502.25,"wires":[["6bddb930.2e9d1"]]},{"id":"6bddb930.2e9d1","type":"debug","z":"e1fbf7fa.6fe5b","name":"","active":true,"console":"false","complete":"false","x":553.5,"y":515.5,"wires":[]},{"id":"46c437a5.fe9378","type":"ibmiot in","z":"5c9a06bd.3296a8","authentication":"boundService","apiKey":"","inputType":"cmd","deviceId":"geospatial","applicationId":"","deviceType":"api","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":103.5,"y":443.25,"wires":[["5edff2e4.f43f4c"]]},{"id":"5edff2e4.f43f4c","type":"debug","z":"5c9a06bd.3296a8","name":"","active":true,"console":"false","complete":"false","x":403.5,"y":443.5,"wires":[]}]
